//
// solana.scss
// Use this to write your custom SCSS
//

code,
pre {
    background-color: $black-dark;
    color: $white;
}

ul.log-messages {
    background-color: $black-dark;
    color: $white;
}

.form-control {
    border-color: $input-border-color;
}

.input-group .input-group-text {
    border-color: $input-border-color;
}

.navbar {
    border-bottom: 1px solid $card-outline-color;
}

