//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #f9fdfc !default;

// Colors

$white: #ffffff !default;
$gray-100: #f9fdfc;
$gray-200: #f1f8f6;
$gray-300: #e5ebe9;
$gray-400: #c6e6de;
$gray-500: #abd5c6;
$gray-600: #86b8b6;
$gray-700: #698582;
$gray-800: #387462;
$gray-900: #1b4e3f;
$black: #232323;

$rainbow-1: #400f00;
$rainbow-2: #b0340e;
$rainbow-3: #8908c8;
$rainbow-4: #00a803;
$rainbow-5: #cebb0f;

$primary: #c92f00 !default;
$primary-dark: #c92f00 !default;
$success: #00950a !default;
$secondary: $gray-700;
$danger: #ff0000;
$warning: #993618 !default;
$info: #cebb0f !default;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
    'black': $black,
    'gray': $gray-900,
) !default;

$card-border-color: $gray-300 !default;
$input-group-addon-color: $gray-900 !default;
$navbar-light-active-color: $primary-dark;
$link-color: $primary-dark;

// Global

body.funnel-display {
    font-family: "Funnel Display", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.display-2 {
    font-family: "Funnel Display", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Funnel Display", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.text-rainbow {
    background: linear-gradient(0.3turn, #e400ff, #00ffbd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-rainbow {
    background: linear-gradient(0.3turn, #e400ff, #00ffbd);
}

.bg-rainbow-1 {
    background: #400f00;
}
.bg-rainbow-2 {
    background: #b0340e;
}
.bg-rainbow-3 {
    background: #8908c8;
}
.bg-rainbow-4 {
    background: #00a803;
}
.bg-rainbow-5 {
    background: #cebb0f;
}

.text-rainbow-1 {
    color: #400f00;
}
.text-rainbow-2 {
    color: #b0340e;
}
.text-rainbow-3 {
    color: #8908c8;
}
.text-rainbow-4 {
    color: #00a803;
}
.text-rainbow-5 {
    color: #cebb0f;
}
